.pentadactyl/info/default/command-history
.pentadactyl/info/default/local-marks
.pentadactyl/info/default/quickmarks
.pentadactyl/info/default/url-marks
.pentadactyl/info/default/register-ring
.pentadactyl/info/default/registers
.config/awesome/images/wallpaper.jpg
.config/awesome/lock_image.png
.config/tint2/snap.jpg
.fehbg
.snmp/mibs
.snownews/cache
.snownews/error.log
.snownews/urls
.snownews/urls.bak
xmonad*
!xmonad.hs
