[submodule ".config/awesome/vicious"]
	path = .config/awesome/vicious
	url = http://git.sysphere.org/vicious/
[submodule ".config/awesome/themes"]
	path = .config/awesome/themes
	url = https://github.com/mikar/awesome-themes.git
[submodule ".config/awesome/shifty"]
	path = .config/awesome/shifty
	url = http://bioe007@github.com/bioe007/awesome-shifty.git
[submodule ".config/awesome/themes/awesome-solarized"]
	path = .config/awesome/themes/awesome-solarized
	url = git://github.com/cycojesus/awesome-solarized.git
[submodule ".config/awesome/themes/awesome-copycats"]
	path = .config/awesome/themes/awesome-copycats
	url = https://github.com/copycat-killer/awesome-copycats.git
[submodule ".config/awesome/batteryInfo"]
	path = .config/awesome/batteryInfo
	url = git://github.com/koentje/awesome-batteryInfo.git
