.config/awesome/vicious
.config/awesome/themes
.pentadactyl/info/default/command-history
.pentadactyl/info/default/local-marks
.pentadactyl/info/default/quickmarks
.pentadactyl/info/default/url-marks
.config/tint2/snap.jpg
.fehbg
