.pentadactyl/info/default/command-history
.pentadactyl/info/default/local-marks
.pentadactyl/info/default/quickmarks
.pentadactyl/info/default/url-marks
.config/tint2/snap.jpg
.fehbg
.snmp/mibs
.snownews/cache
.snownews/error.log
.snownews/urls
.snownews/urls.bak
xmonad*
!xmonad.hs
